.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.isDone {
    display: flex;
    align-items: flex-start;
    opacity: 0.5;
    margin-bottom: 15px;
}

.fullInput {
    display: flex;
    margin-right: 15px;
}

.ul {
    padding: 0;
}

.block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}