.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}
.fullInput{
    display: flex;
    margin-right: 15px;
}
.ul{
    padding: 0;
}